<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>oarword</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OpenLocal</display-name>
    <servlet-name>OpenLocal</servlet-name>
    <servlet-class>com.airxiechao.oarword.OpenLocal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenLocal</servlet-name>
    <url-pattern>/Open/Local</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.airxiechao.oarword.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertLocalImage</display-name>
    <servlet-name>InsertLocalImage</servlet-name>
    <servlet-class>com.airxiechao.oarword.InsertLocalImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertLocalImage</servlet-name>
    <url-pattern>/Insert/LocalImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.airxiechao.oarword.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFileName</display-name>
    <servlet-name>NewFileName</servlet-name>
    <servlet-class>com.airxiechao.oarword.NewFileName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFileName</servlet-name>
    <url-pattern>/NewFileName</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.airxiechao.oarword.Hall</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RecentFileName</display-name>
    <servlet-name>RecentFileName</servlet-name>
    <servlet-class>com.airxiechao.oarword.RecentFileName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentFileName</servlet-name>
    <url-pattern>/RecentFileName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintView</display-name>
    <servlet-name>PrintView</servlet-name>
    <servlet-class>com.airxiechao.oarword.PrintView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintView</servlet-name>
    <url-pattern>/PrintView</url-pattern>
  </servlet-mapping>
</web-app>